.insuranceOffers {
    width: 100%;
    /* margin-top: 150px; */

}

.offerChoicesTitle {
    text-align: center;
}

.offerChoices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 1px;
}

.choice {
    /* border: 2px solid black; */
    transition: transform .6s;
}

.choice:hover {
    transform: scale(1.05);
}